<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">
  <mdb-navbar-brand><a routerLink="home"  routerLinkActive="active" class="navbar-brand" href="#">Wetr.Web</a></mdb-navbar-brand>

  <links>

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="dashboard"   class="nav-link waves-light" mdbWavesEffect>Dashboard</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="measurement-management"  class="nav-link waves-light" mdbWavesEffect>Messungsverwaltung</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="station-management"  class="nav-link waves-light" mdbWavesEffect>Stationsverwaltung</a>
      </li>
    </ul>
    <div *ngIf="username" >
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link waves-light">Hallo {{ username }}</a>
        </li>
      </ul>
    </div>
    <app-search (stationSelected)="stationSelected($event)">
    </app-search>

    <div *ngIf="login" >
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
          <a routerLink="home" class="nav-link waves-light" (click)="logoutClick()">Ausloggen</a>
        </li>
      </ul>
    </div>
  </links>

</mdb-navbar>