<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">
  <mdb-navbar-brand><a routerLink="dashboard"  routerLinkActive="active" class="navbar-brand" href="#">Wetr.Web</a></mdb-navbar-brand>

  <links>

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="dashboard"   class="nav-link waves-light" mdbWavesEffect>Dashboard</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="measurement-management"  class="nav-link waves-light" mdbWavesEffect>Messungsverwaltung</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a routerLink="station-management"  class="nav-link waves-light" mdbWavesEffect>Stationsverwaltung</a>
      </li>
    </ul>

    <app-search (stationSelected)="stationSelected($event)">
    </app-search>
  </links>

</mdb-navbar>