<div class="mx-auto mt-3 stationdetails" style="width: 1500px;">
<div class="mx-auto mt-3" style="width: 700px;">
<ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
  <ngb-panel>
    <ng-template ngbPanelTitle>
      <h2>Wetterstation {{ station?.Name }}    <i *ngIf="this.favorites.includes(station?.Id?.toString()) && login" class="fa fa-star" style="color:gold; font-size: 30px" ></i></h2>
    </ng-template>
    <ng-template ngbPanelContent>
      <div class="container">
        <div class="row">
          <h5>Stationstyp: {{ station?.StationType?.Name }}</h5>
        </div>
        <div class="row">
          <h5>Stationsmarke: {{ station?.StationType?.Brand }}</h5>
        </div>
        <div class="row">
          <h5>Standort: {{ station?.Coordinate?.Latitude }} | {{ station?.Coordinate?.Longitude }}</h5>
        </div>
        <div class="row">
          <h5>Gemeinde: {{ station?.Community?.Name }}</h5>
        </div>
        <div class="row">
          <h5>Bezirk: {{ station?.Community?.District?.Name }}</h5>
        </div>
        <div class="row">
          <h5>Bundesland: {{ station?.Community?.District?.Province?.Name }}</h5>
        </div>
        <button id="addToDashboardBtn" *ngIf="this.favorites.includes(station?.Id?.toString()) && login" mdbBtn color="danger" block="true" class="mt-2" (click)="addToDashboard()">
          {{ this.favorites.includes(station?.Id?.toString()) ? "Vom Dashboard entfernen" : "Zum Dashboard hinzufügen" }}
        </button>
        <button id="addToDashboardBtn" *ngIf="!this.favorites.includes(station?.Id?.toString()) && login" mdbBtn color="primary" block="true" class="mt-2" (click)="addToDashboard()">
          {{ this.favorites.includes(station?.Id?.toString()) ? "Vom Dashboard entfernen" : "Zum Dashboard hinzufügen" }}
        </button>
      </div>
    </ng-template>
  </ngb-panel>
</ngb-accordion>
</div>
<form #myForm="ngForm" (ngSubmit)="filter()">
    <div class="form-row mb-4">
        <div class="col">
          <input type="date" name="from" id="from" [(ngModel)]="from" class="form-control" useValueAsDate placeholder="von">
        </div>
        <div class="col">
          <input type="date" name="to" id="to" [(ngModel)]="to" class="form-control" useValueAsDate placeholder="bis">
        </div>
        <div class="col">
            <select type="date" name="accumulationType" id="accumulationType" [(ngModel)]="accumulationType" class="form-control" placeholder="Akkumulation">
                <option value="0" selected>kein Akkumulation</option>
                <option value="1">Minimum</option>
                <option value="2">Maximum</option>
                <option value="3" selected>Durchschnitt</option>
                <option value="4" selected>Summe</option>
            </select>
        </div>        
        <div class="col">
            <select type="date" name="intervalType" id="intervalType" [(ngModel)]="intervalType" class="form-control" placeholder="Intervall">
                <option value="0" selected>kein Intervall</option>
                <option value="1">Tag</option>
                <option value="2">Woche</option>
                <option value="3" selected>Monat</option>
                <option value="4" selected>Jahr</option>
            </select>
        </div>
        <div class="col">
            <button mdbBtn color="info" block="true" class="my-4" style="align-self: top" type="submit">Suche</button>
        </div>
      </div> 
</form>
<div style="display: inline-block; width: 80vw;">
  <canvas mdbChart
      [chartType]="chartType"
      [datasets]="chartDatasets"
      [labels]="chartLabels"
      [colors]="chartColors"
      [options]="chartOptions"
      [legend]="true"
      (chartHover)="chartHovered($event)"
      (chartClick)="chartClicked($event)">
  </canvas>
</div>
</div>